# Application URLs
BASE_URL=https://www.saucedemo.com/

# Test Credentials
STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce
VISUAL_USER=visual_user
VISUAL_PASSWORD=secret_sauce

# Browser & Timeout Settings
TIMEOUT=40000
EXPECT_TIMEOUT=5000
RETRY_COUNT=1
WORKERS=2

# Environment
ENVIRONMENT=staging
HEADLESS=true
SCREENSHOT_MODE=on
VIDEO_MODE=on-first-retry

# Logging
LOG_LEVEL=info
LOG_FILE=./logs/test.log
